a,
button,
input,
textarea {
	outline: none !important;
	border: none;
}

body,
p,
span,
small,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	font-family: $font-1;
	font-style: normal;
	font-weight: normal;
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	font-size: 16px;
	font-family: $font-1;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
}

.link {
	font-size: 1rem;
	font-family: $font-1;
	font-weight: normal;
	transition: 0.4s;
	position: relative;
	text-decoration: none;
	color: $color-5;
	cursor: pointer;
	&::after {
		content: "";
		position: absolute;
		right: 0;
		top: calc(100% + 2px);
		width: 0;
		height: 1.1px;
		transition: 0.4s;
		background: $color-4;
	}
	&:hover {
		color: $color-3;
		&::after {
			width: 100%;
			right: auto;
			left: 0;
		}
	}
	&-light {
		color: $color-1;
		&::after {
			background: $color-2;
		}
		&:hover {
			color: $color-2;
		}
	}
}

.title-sec {
	display: block;
	font-size: 2.5rem;
	font-weight: 700;
	font-family: $font-1;
	line-height: 1.3;
}
.text {
	display: block;
	font-size: 1rem;
	font-weight: 400;
	font-family: $font-1;
	line-height: 1.2;
}

.input {
	padding: 0.8rem 1rem;
	box-shadow: $shadow-5;
	transition: 0.3s;
	font-size: 0.8rem;
	font-weight: 400;
	font-family: $font-1;
	line-height: 1;
	color: $color-5;
	&:focus {
		box-shadow: $shadow-2;
	}
}

.btn {
	display: block;
	padding: 0.8rem 1rem;
	transition: 0.3s;
	font-size: 0.8rem;
	font-weight: 500;
	font-family: $font-1;
	line-height: 1;
	text-transform: uppercase;
	background-color: $color-4;
	color: $color-1;
	cursor: pointer;
	&:hover {
		box-shadow: $shadow-1;
		background-color: $color-5;
	}
	&.light {
		background-color: $color-1;
		color: $color-5;
		&:hover {
			color: $color-1;
			background-color: $color-3;
		box-shadow: $shadow-4;
		}
	}
	&.rounded {
		border-radius: 2rem;
	}
}

@media (max-width: 1440px) {
	html,
	body {
		font-size: 16px;
	}
}

@media (max-width: 1200px) {
	html,
	body {
		font-size: 16px;
	}
}

@media (max-width: 997px) {
	html,
	body {
		font-size: 16px;
	}
}

@media (max-width: 768px) {
	html,
	body {
		font-size: 16px;
	}
}

@media (max-width: 546px) {
	html,
	body {
		font-size: 16px;
	}
}

@media (max-width: 440px) {
	html,
	body {
		font-size: 16px;
	}
}
