a,
button,
input,
textarea {
	outline: none !important;
	border: none;
}

body,
p,
span,
small,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	font-family: $font-1;
	font-style: normal;
	font-weight: normal;
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	font-size: 16px;
	font-family: $font-1;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
}

.link {
	font-size: 1rem;
	font-family: $font-1;
	font-weight: normal;
	transition: 0.4s;
	position: relative;
	text-decoration: none;
	color: $color-5;
	cursor: pointer;
	&::after {
		content: "";
		position: absolute;
		right: 0;
		top: calc(100% + 2px);
		width: 0;
		height: 1.1px;
		transition: 0.4s;
		background: $color-4;
	}
	&:hover {
		color: $color-3;
		&::after {
			width: 100%;
			right: auto;
			left: 0;
		}
	}
	&-light {
		color: $color-1;
		&::after {
			background: $color-2;
		}
		&:hover {
			color: $color-2;
		}
	}
}

.title-sec {
	display: block;
	font-size: 2.5rem;
	font-weight: 700;
	font-family: $font-1;
	line-height: 1.3;
}
.text {
	display: block;
	font-size: 1rem;
	font-weight: 400;
	font-family: $font-1;
	line-height: 1.2;
}

.input {
	padding: 0.8rem 1rem;
	box-shadow: $shadow-5;
	transition: 0.3s;
	font-size: 0.8rem;
	font-weight: 400;
	font-family: $font-1;
	line-height: 1;
	color: $color-5;
	&:focus {
		box-shadow: $shadow-2;
	}
}

.btn {
	display: block;
	padding: 0.8rem 1rem;
	transition: 0.3s;
	font-size: 0.8rem;
	font-weight: 500;
	font-family: $font-1;
	line-height: 1;
	text-transform: uppercase;
	background-color: $color-4;
	color: $color-1;
	cursor: pointer;
	&:hover {
		box-shadow: $shadow-1;
		background-color: $color-5;
	}
	&.light {
		background-color: $color-1;
		color: $color-5;
		&:hover {
			color: $color-1;
			background-color: $color-3;
		box-shadow: $shadow-4;
		}
	}
	&.rounded {
		border-radius: 2rem;
	}
}

.popupShowHide-transition {
	transition: all 0.5s ease-in-out;	
}
.popupShowHide-enter, .popupShowHide-leave {
	opacity: 0;
}

.close {
  cursor: pointer;
  border-radius: 50%;
  background-color: $color-1;
  width: 2rem;
  height: 2rem;
  &::before, &::after, & span:nth-child(1), & span:nth-child(2) {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 2px;
    top: 0.9rem;
    left: 0.25rem;
    transform-origin: center center;
    background-color: $color-4;
    transition: 0.5s;
  }
  & span:nth-child(1) {
		transform: rotate(45deg) translate(-3rem, 0rem);
		background-color: transparent;
  }
  & span:nth-child(2) {
		transform: rotate(-45deg) translate(3rem, 0rem);
		background-color: transparent;
  }
  & span:nth-child(3) {
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transform: scale(1);
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &:hover {
    & span:nth-child(1) {
			transform: rotate(45deg) translate(0rem, 0rem);
    }
    & span:nth-child(2) {
			transform: rotate(-45deg) translate(0rem, 0rem);
    }
    & span:nth-child(3) {
			animation-name: close;
      animation-duration: 0.5s;
			animation-timing-function: ease-out;
			animation-fill-mode: both;
    }
    &::before {
			transform: rotate(45deg) translate(3rem, 0rem);
			background-color: transparent;
    } 
    &::after {
			transform: rotate(-45deg) translate(-3rem, 0rem);
			background-color: transparent;
    } 
  }
}
@keyframes close {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@media (max-width: 1440px) {
	html,
	body {
		font-size: 16px;
	}
}

@media (max-width: 1200px) {
	html,
	body {
		font-size: 16px;
	}
}

@media (max-width: 997px) {
	html,
	body {
		font-size: 16px;
	}
}

@media (max-width: 768px) {
	html,
	body {
		font-size: 16px;
	}
}

@media (max-width: 546px) {
	html,
	body {
		font-size: 16px;
	}
}

@media (max-width: 440px) {
	html,
	body {
		font-size: 16px;
	}
}
